/* FUENTES */

@import url('https://fonts.googleapis.com/css?family=Anton|Lato:400,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');



/* MAIN STYLES */

*:not(i)
{
    font-family: 'Noto Sans', sans-serif;
}


.links
{
    color:rgba(4, 53, 56, 0.89) !important;
    
}

.backgroundLinks
{
    background-color:rgba(13, 116, 98, 0.7);
    color:white;
}

.titleRegister
{
    color:white;
}

header
{
    background-color:rgba(13, 116, 98, 0.7);
    color:#ffff;
    padding:0 20px;

}

header h1
{
    background: url(../img/escudos/logo.png) no-repeat left center;
    background-size: 60px 60px;
    padding-left: 65px;
    font-size: 42px;
    font-family: 'Anton', sans-serif;
}

#navegar a
{
    color:white;
    text-decoration:none;
    background-size: 24px 24px;
    padding:5px 30px;
    display:block;
}

#navegar a:hover{
    color:black;
}


/**************** HEADER **********************/

#navbar ul
{
   margin-top: 20px;
}

#navbar ul li
{
    padding:10px 0;
    display: inline-block;
}

#btn-navbar
{
   margin-top:25px !important;
}

/**************** FOOTER **********************/


footer
{
    background-color: rgba(13, 116, 98, 0.7);
    color:#fff;
    padding:50px;
    text-align:center;
    margin-top:150px;
}

footer h1
{
    margin: 50px;
    background: url(../img/escudos/logo.png) no-repeat center top;
    background-size: 100px 100px;
    padding: 110px 0 20px 0;
    text-align:center;
    font-family: 'Anton', sans-serif;
}

@media(max-width:767px){
    footer h1
    {
        font-size:20pt;
    }
}

/****************      BODY        **********************/

body
{
    background: url(../img/fondos/fondo1.jpg) repeat left top fixed;
}

.container
{
    margin-top:75px; 
}

/****************      LOGIN       **********************/

.login-title
{
    background-color: rgba(0,0,0,0.16);
    padding: 20px;
}

.login-title h2
{
    font-size:35pt;
    font-weight: bold;
    color: white;
}

.login-title h2 + p
{
    font-size:15pt;
    color: white;
}

.login
{
    background-color:white;
    padding:50px;
    margin-top:30px;
}

.login input
{
    margin:10px 0;
    padding:20px;
}

.login button
{
    padding:15px;
    text-transform:uppercase;
    margin-top:50px;
    margin-bottom:20px;
    background-color: rgba(13, 116, 98, 0.7);
    font-size:13pt;
    color:white;
    transition:.5s;
}

.login router-link
{
    color: #2B785E;
}

.pub
{
    background-color:white;
    padding:10px 20px;
    margin-top:20px;
    border-radius: 10px;
}

.pub-user
{
    border-bottom: 1px solid rgb(0, 0, 0);
    margin-bottom:5px;
    padding-bottom:5px;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}

h2
{
    color: #2B785E;
}

h3
{
    color: #2B785E;
}

.pub-cont
{
    margin: 20px 0;
}

.pub-img > img
{
    width:80px;
    margin-right:20px;
    border:5px solid green;
}



.pub-img
{
    position:relative;
    overflow:hidden;
}

.pub-img > img,
.pub-img > figcaption
{
   float:left;
}

.dropdown
{
    cursor:pointer;
}

.pub-icon
{
    margin-right:5px;
    margin-left:10px;
}

.pub-date
{
    color: #000000;
    font-size:11pt;
}

.pub-btn
{
    overflow:auto;
}

.dropdown-menu > li 
{
    padding:20px;
    font-size:12pt;
}

.dropdown-menu > li:not(:last-of-type)
{
    border-bottom: 2px solid #eaeaea;
}

.dropdown-menu > li a
{
    margin:0 !important;
    padding:0 !important;
}

.dropdown-menu li:hover
{
    background-color:#F5F5F5
}

.pub-btn
{
    margin-top:10px;
}

.img-pub
{
    border-bottom: 1px solid #c3c3c3 !important;
    padding-bottom:10px;
    position:relative;
}

.btnedit
{
    margin-top:10px;
}

@media (max-width:767px){
    
    .pub-date
    {
        font-size:10pt;
    }
    
    .pub-user h3
    {
        font-size:18pt
    }
}


.comentario
{
    background-color:white;
    padding:20px;
    margin:20px 40px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

@media(max-width:767px){
    
    .comentario
    {
        margin:20px 0;
    }
    
    .comentario h3
    {
        text-align:center;
    }
    
    .dropdown-menu
    {
        left: -150px;
    }
}

.comentario .dropdown 
{
    float:right;
}

.sinComentarios
{
    text-align:center;
    background-color: gainsboro;
    padding:20px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin:20px 0;
    font-size:15pt;
}

.comentario-txt
{
    margin:20px 0;
    font-size:18pt;
}

.cont-img
{
    position:relative;
}

.escudo
{
    width:50%;
    position:absolute;
    bottom:-10%;
    right:0;
}

.comentario .pub-date
{
    border-bottom:1px solid #b6b6b6;
    padding-bottom:10px;
}


.publicar
{
    background-color:rgba(13, 122, 99, 0.9);
    padding:20px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    margin:20px 0;
    overflow:auto;
    color: #fff;
}

.publicar #publi
{
    margin:10px 0;
}

.publicar label
{
    font-size: 15pt;
}

.publicar select
{
    padding:10px;
    color: #2B785E;
}

.publicar button
{
    background-color: #fff !important;
    color: rgb(8, 70, 28) !important;
    font-weight:bold;
    padding:10px 20px;
    float:right
}

.imagenUpload
{
    display:inline-block;
}

@media(max-width:767px){
    
    .publicar select
    {
        width:100%;
        padding:5px;
    }
    
    .publicar button
    {
        width:100%;
    }
    
    .publicar input[type='file']
    {
        margin:10px 0;
    }
}


.perfil-user
{
    background-color:white;
    padding:20px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.perfil-user img
{
    margin:auto;
}

.perfil-user h2
{
    font-size:16pt;
}

.perfil-user h2 + div
{
    color: #9b9b9b; text-align:center !important;
}

.usuario-escudo
{
    background-repeat: no-repeat;
    background-position: left center;
    padding:30px 0px 30px 90px;
    margin-top:10px;
    background-size:80px 80px;
    font-weight: bolder;
    font-size:18pt;
}



.datos-perfil{
    list-style:none;
    text-align:left;
    margin: 0;
    padding:0;
    margin-top:20px;
}

.datos-perfil li{
    margin: 5px 0;
}


.datos-perfil li{
    background: url(../img/icon/icon-email.png) no-repeat left center;
    background-size:25px 25px;
    padding:10px 0;
    padding-left: 35px;
}

.datos-perfil li:nth-child(2){
    background-image: url(../img/icon/icon-calendar.png); 
}

.img-perfil{
    width:175px;
}


.puntos{
    background-color:rgb(9, 155, 143);
    padding:10px;
    color: #fff;

}

.puntos h3{
    color: #fff;
}

.escudos{
    width: 10%;
    height: 10%;
    text-align: center;
    
}


.puntos > div{
    border-bottom:1px solid #ffffff;
    margin-bottom:15px;
    background-size: 60px 60px;
    justify-content: center ;
}

.puntos h3{
    font-weight:bold;
}


.msj-error{
    background-color:indianred;
    color:white;
    padding:20px
}

.msj-error p{
    padding:15px;
    padding-left: 60px;
    font-weight: bold;
    font-size:13pt;
    background: url(../img/icon/icon-error.png) no-repeat left center;
    background-size: 50px 50px;
}

.error-alta{
    color:red;
}

.msj-ok{
    background-color:green;
    color:white;
    padding:20px
}

.msj-ok p{
    padding:15px;
    padding-left: 60px;
    font-weight: bold;
    font-size:13pt;
    background: url(../img/icon/icon-ok.png) no-repeat left center ;
    background-size: 50px 50px;
}



#editar input{margin-bottom:20px; font-size:14pt; padding:20px; color: grey}
#editar .error-alta{font-size:12pt;}
#editar ul{margin-top:10px;}
#editar select{font-size:13pt; padding:10px;}
#editar label{ font-size:14pt;}
#editar{overflow: auto;}




.sinImagen{
    position: absolute;
    top:10px;
    right:10px;
    color:white;
    transition: .5s;
    cursor:pointer
}
.sinImagen:hover{
    transform:scale(1.5);
}


.form-registro{
    margin-top:30px;
    background-color:white;
    padding:20px;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.form-registro form > div{
    margin:20px 0;
}

.form-registro .btn{
    margin-top:20px !important;
    display:inline-block;
    font-size:14pt;
}

.form-registro input[type='file'],
.form-registro input[type='date']{
    padding:0px 10px;
}

.list-error{
    background-color:indianred;
    color:white;
    margin:0;
    padding: 10px;
    margin-top:5px;
    list-style:none;
}

.previ{
    width:150px;
    height:150px;
}

@media(max-width:767px){
    #editar img{
        width:50%;
        margin:0 25% !important;
        display:block;
    }
    #editar figcaption{width:100%; text-align:center;}
    #editar{text-align:center};
    #editar select{width:100% !important;}
    #editar button{width:100%;}
    #editar input[type='file']{font-size:9pt;}
    
    .form-registro label{margin-top:20px;}
    .form-registro .row{margin:0px !important; padding:0 !important;}
    .login{
        margin-top:10px;
        padding:20px;
        text-align:center;
    }
}
